*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "oswald", sans-serif;
}
 
.header{
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.header__logo{
  width: 3rem;
}

.header__sidebar-toggler{
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 1.5rem;
  cursor: pointer;
}

.header__hamburger-icon{
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333; 
}

.header__sidebar-toggler:hover span{
  background-color: orangered;
}

.sidebar{
  background-color: black;
  height: 100vh;
  width: 15rem;
  position: fixed;
  top: 0;
  left:0;
  padding-top: 0.5rem;
  transform: translateX(-15rem);
  transition: transform 0.3s ease;
  text-align: center;
}

.active{
  transform: translateX(0);
}

.sidebar__close-btn{
  border: none;
  cursor: pointer;
  background-color:none;
  position: relative;
  display: block;
}

.sidebar__close-btn::before,
.sidebar__close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;         
  height: 2px;        
  background-color: #fff;
  border-radius: 1px;  
}

.sidebar__close-btn::before {
  transform: translate(13rem, 1rem) rotate(45deg);
}


.sidebar__close-btn::after {
  transform: translate(13rem, 1rem) rotate(-45deg);
}

.sidebar a{
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 3rem;
  left: 6rem;
}

.hero{
  margin: 0 2rem;
}


.hero__img{
  width:100%;
  height: auto;
}

.hero__content{
  margin: 1rem;
}

.hero__title{
  font-size: 4rem;
  font-weight: 200;
}

.hero__description{
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.hero__contact-name{
  font-weight: 400;
}

.hero__contact-mail,.hero__contact-number{
  color: #f14a48;
  display: block;
  margin: 0.5rem 0;
}

.hero__img-credit{
  letter-spacing: 4px;
  margin: 2rem 0;
}

.hero__img-credit a{
  color: #333;
  text-decoration: none;
}

.hero__img-credit a:hover{
  text-decoration: underline;
}

.hero__orange-ball{
  background-color: #f14a48;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}