*{
  margin:0;
  padding: 0;
}

body{
  font-family: "Roboto", Arial, sans-serif;
}
 
header{
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.logo{
  width: 4rem;
}
.sidebar-toggler{
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap:5px;
  width: 1.5rem;
  cursor: pointer;
}

.hamburger-icon{
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333; 
}

.sidebar-toggler:hover span{
  background-color: orangered;
}

aside{
  background-color: black;
  height: 100vh;
  width: 15rem;
  position: fixed;
  top: 0;
  left:0;
  padding-top: 0.5rem;
  transform: translateX(-15rem);
  transition: transform 0.3s ease;
  text-align: center;
}

.active{
  transform: translateX(0);
}

.close-btn{
  border: none;
  cursor: pointer;
  background-color:none;
  position: relative;
  display: block;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;         
  height: 2px;        
  background-color: #fff;
  border-radius: 1px;  
}

.close-btn::before {
  transform: translate(13rem, 1rem) rotate(45deg);
}


.close-btn::after {
  transform: translate(13rem, 1rem) rotate(-45deg);
}

aside a{
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 3rem;
  left: 6rem;
}


